.clients__title {
  margin-bottom: 30px;

  @include font(null, 28px, 1.19, 0.03em);
  // font-size: 36px;
  // line-height: 1.16;
  // letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-text-color);
  @include desk {
    margin-bottom: 50px;

    @include font(null, 36px, 1.16, null);
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  @include tab {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  @include desk {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  color: #afb1b8;
  border: 1px solid;
  border-radius: 4px;

  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// .clients__link:hover,
// .clients__link:focus {
//   color: var(--accent-color);
// }

.clients__logo {
  fill: currentColor;
}
