.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  // @include tab {
  //   padding-left: 76px;
  //   padding-right: 83px;
  // }

  background-color: var(--hero-footer-background-color);
}

.footer__container {
  // @include centrFlex();
  // align-items: baseline;
  // justify-content: space-between;
  text-align: center;
  @include tab {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.footer__contact {
  margin-bottom: 60px;
  @include tab {
    margin: 0 165px 0 0;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--white {
  color: var(--second-text-color);
}

.address__map {
  @include font(null, 14px, 1.71, 0.03em);
  font-style: normal;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: var(--second-text-color);

  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.address__contact {
  @include font(null, 14px, 1.71, 0.03em);
  font-style: normal;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: var(--footer-link-color);

  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

// .address__map:hover,
// .address__map:focus,
// .address__contact:hover,
// .address__contact:focus {
//   color: var(--accent-text-color);
// }

.address__item {
  &:not(:last-child) {
    // margin-bottom: 9px;
    margin-bottom: 8px;
  }
}

.footer__socials {
  margin-bottom: 60px;
  @include tab {
    margin-bottom: 0;
  }
}

.footer__subtitle {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-text-color);
}

.footer__list {
  @include centrFlex();
}

.footer__icon {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__link {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @include centrFlex();
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--second-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--basic-background-color);
  }
}

// .footer__link:hover,
// .footer__link:focus {
//   background-color: var(--accent-color);
//   color: var(--basic-background-color);
// }

.footer__label {
  fill: currentColor;
}

/* ---FOOTER FORM----- */

.footer__form {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.footer__input {
  margin-bottom: 20px;
  // width: 358px;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;
  color: #ffffff;
  font-size: 16px;

  outline: none;
  transition: border-color var(--transition-duration) var(--timing-function);

  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  @include tab {
    width: initial;
  }
}

// .footer__input:focus {
//   border-color: var(--accent-color);
// }

// .footer__input::placeholder {
//   font-size: 16px;
//   line-height: 1.25;
//   letter-spacing: 0.03em;

//   color: rgba(255, 255, 255, 0.6);
// }

.footer__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--second-text-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-highlights-color);
  }
}

.footer__btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

// .footer__btn:hover,
// .footer__btn:focus {
//   background-color: var(--accent-highlights-color);
// }
