.logo {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  @include font(null, 24px, 1.17, 0.03em);
  color: var(--logo-text-color);
  &__text--accent {
    color: var(--accent-text-color);
  }
  @include desk {
    @include font(null, 26px, 1.19, null);
  }
}
